#emptyBar {
  position: relative;
  height: 30px;
  border-radius: 30px;
  border: 2px white solid;
  background: -webkit-linear-gradient(
    left,
    white,
    white 1%,
    transparent 1%,
    transparent
  );
  background-size: 100%;
  transition: all 2s;
  margin: 13%;
}
