body,
html {
  margin: 0 auto;
  background-color: #1b2440; }

* {
  box-sizing: border-box;
  padding: 0; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin: 0;
  background-color: #1b2440;
  transition: all 0.5s;
  overflow-x: hidden; }

#lessonInput {
  position: absolute;
  margin: 20px 0 0 30px; }

.modal-for-money,
.modal-for-material {
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  position: absolute;
  align-items: center;
  margin: -40% 10%;
  width: 80vw;
  height: 92vh;
  z-index: 300;
  border: 10px solid #fcc60e;
  border-radius: 30px;
  transform: scale(1); }
  .modal-for-money .closebtn3,
  .modal-for-money .closebtn4,
  .modal-for-material .closebtn3,
  .modal-for-material .closebtn4 {
    position: absolute;
    top: 0.5em;
    right: 1em;
    cursor: pointer; }
  .modal-for-money p,
  .modal-for-money h2,
  .modal-for-material p,
  .modal-for-material h2 {
    text-align: center;
    margin-top: 10%;
    z-index: 100; }
  .modal-for-money .modal-background,
  .modal-for-material .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    .modal-for-money .modal-background .modal,
    .modal-for-material .modal-background .modal {
      background-color: transparent;
      animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      .modal-for-money .modal-background .modal h2,
      .modal-for-money .modal-background .modal p,
      .modal-for-material .modal-background .modal h2,
      .modal-for-material .modal-background .modal p {
        opacity: 0;
        position: relative;
        animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      .modal-for-money .modal-background .modal .modal-svg rect,
      .modal-for-material .modal-background .modal .modal-svg rect {
        animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  .modal-for-money.out,
  .modal-for-material.out {
    animation: quickScaleDown 0s 0.5s linear forwards; }
    .modal-for-money.out .modal-background,
    .modal-for-material.out .modal-background {
      animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      .modal-for-money.out .modal-background .modal,
      .modal-for-material.out .modal-background .modal {
        animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
        .modal-for-money.out .modal-background .modal h2,
        .modal-for-money.out .modal-background .modal p,
        .modal-for-material.out .modal-background .modal h2,
        .modal-for-material.out .modal-background .modal p {
          animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
        .modal-for-money.out .modal-background .modal .modal-svg rect,
        .modal-for-material.out .modal-background .modal .modal-svg rect {
          animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }

.hidden {
  display: none; }

#selection-wrapper {
  color: white;
  display: grid;
  grid-template-columns: 1fr; }
  #selection-wrapper .about-campaign,
  #selection-wrapper .select-money,
  #selection-wrapper .select-material {
    border: 2px solid #94d3f2;
    border-radius: 30px;
    padding: 0 2em;
    margin: 1em; }
  #selection-wrapper img {
    position: absolute;
    width: 5em;
    top: 56em;
    left: 5em; }
  #selection-wrapper .about-campaign,
  #selection-wrapper .pdonators {
    position: relative;
    z-index: 1; }
    #selection-wrapper .about-campaign h2,
    #selection-wrapper .pdonators h2 {
      color: #1b2440;
      text-align: center;
      font-size: 1em;
      background-color: #94d3f2;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      margin: 0;
      padding: 20px 0;
      z-index: 100; }
  #selection-wrapper .pdonators {
    border: 2px solid #94d3f2;
    border-radius: 30px;
    padding-left: 0; }
    #selection-wrapper .pdonators div {
      font-size: 16px;
      font-weight: 100;
      overflow-y: scroll;
      height: 23vh;
      padding-left: 20px; }
    #selection-wrapper .pdonators h2 {
      background-color: #94d3f2; }
  #selection-wrapper .about-campaign {
    color: #1b2440;
    background: -webkit-linear-gradient(top, #94d3f2, #94d3f2 33%, transparent 1%, transparent);
    background-color: white; }
  #selection-wrapper .about-campaign p {
    margin-top: 1em; }
  #selection-wrapper .select-money,
  #selection-wrapper .select-material {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%; }
    #selection-wrapper .select-money button,
    #selection-wrapper .select-material button {
      height: 20px;
      margin-top: 10%;
      border: none;
      cursor: pointer;
      border-radius: 2em;
      border: 2px solid #fcc60e;
      font-family: "Poppins", sans-serif;
      color: #1b2440;
      font-size: 0.8em;
      font-weight: 300;
      width: 60%;
      background-color: #fcc60e; }
      #selection-wrapper .select-money button:hover,
      #selection-wrapper .select-material button:hover {
        background-color: #94d3f2; }
  @media only screen and (min-width: 600px) {
    #selection-wrapper {
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      grid-template-rows: repeat(15, 1fr);
      padding: 0 11em; }
      #selection-wrapper img {
        position: absolute;
        width: 5em;
        top: 77em;
        left: 5em; }
      #selection-wrapper .about-campaign {
        grid-column: 1/10;
        grid-row: 1/10;
        background: -webkit-linear-gradient(top, #94d3f2, #94d3f2 15%, transparent 1%, transparent);
        background-color: white; }
      #selection-wrapper .about-campaign p {
        margin-top: 3em; }
      #selection-wrapper .pdonators {
        grid-column: 11/17;
        grid-row: 4/10;
        max-height: 36vh;
        padding-left: 0em; }
      #selection-wrapper .select-money {
        grid-column: 5/10;
        grid-row: 11/16;
        background-image: url(assets/images/money2.png);
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat; }
      #selection-wrapper .select-material {
        grid-column: 11/16;
        grid-row: 11/16;
        background-image: url(assets/images/instrument1.png);
        background-size: 130%;
        background-position: center;
        background-repeat: no-repeat; }
      #selection-wrapper .select-money,
      #selection-wrapper .select-material {
        padding-bottom: 5%; }
        #selection-wrapper .select-money button,
        #selection-wrapper .select-material button {
          height: 50px;
          border-radius: 2em;
          font-size: 1em;
          width: 67%; } }
  @media only screen and (min-width: 900px) {
    #selection-wrapper img {
      top: 75em; } }

.material-container,
.money-container {
  background-color: #94d3f2;
  border: white 10px solid;
  border-radius: 30px;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  margin: -40% 10%;
  width: 80vw;
  height: 92vh;
  z-index: 200;
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s; }

.md-animation {
  animation: scallup-fadein 0.3s ease-out forwards; }

@keyframes scallup-fadein {
  to {
    transform: scale(1);
    opacity: 1; } }

.close-animation {
  transform: scale(0.2);
  opacity: 0;
  transition: transform 0.3s; }

.closebtn,
.closebtn2 {
  position: absolute;
  top: 0.5em;
  right: 1em;
  cursor: pointer; }

#userInfoForm1,
#userInfoForm2 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  font-family: "Poppins", sans-serif;
  font-weight: 100; }
  #userInfoForm1 .input,
  #userInfoForm2 .input {
    grid-template-columns: 1fr 2fr;
    grid-column: 3/9;
    height: 51px;
    margin-bottom: 8px;
    position: relative; }
    #userInfoForm1 .input label,
    #userInfoForm2 .input label {
      position: absolute;
      width: 30%;
      z-index: 100;
      font-size: 16px; }
    #userInfoForm1 .input input,
    #userInfoForm1 .input textarea,
    #userInfoForm2 .input input,
    #userInfoForm2 .input textarea {
      position: absolute;
      left: 25%;
      width: 35%;
      height: 39px;
      border: 1px solid grey;
      border: 1px solid white;
      padding: 0 0 0 15px; }
    #userInfoForm1 .input textarea,
    #userInfoForm2 .input textarea {
      top: 5em; }
    #userInfoForm1 .input .required,
    #userInfoForm2 .input .required {
      position: absolute;
      color: rgba(255, 0, 0, 0.534);
      top: 5%;
      left: 7em; }
  #userInfoForm1 input[type="submit"],
  #userInfoForm2 input[type="submit"] {
    height: 40px;
    width: 7em;
    grid-column: 3/4;
    margin-top: 60%;
    background: #fcc60e;
    border: none;
    cursor: pointer;
    border-radius: 2em;
    font-family: "Poppins", sans-serif;
    color: #de2235;
    font-size: 1em; }
    #userInfoForm1 input[type="submit"]:hover,
    #userInfoForm2 input[type="submit"]:hover {
      color: #fcc60e;
      background-color: #de2235; }
  #userInfoForm1 :nth-child(3),
  #userInfoForm2 :nth-child(3) {
    margin-top: 0%; }

#moneydonation {
  margin-left: 20%; }
  #moneydonation .amount-selection {
    padding-top: 3em;
    font-size: 1.2em; }

#instrumentdonation {
  margin-top: -10%;
  margin-left: 17%; }
  #instrumentdonation .material-selection {
    padding-top: 3em;
    font-size: 1.2em; }

.face {
  position: absolute;
  left: 8em;
  width: 18vw;
  margin: auto;
  height: 2vw;
  display: grid;
  grid-template-columns: 1fr auto; }
  .face input {
    padding: 0.5em 0.75em; }
  .face button {
    padding: 0.5em 0.75em;
    background: #3b5998;
    width: 3em;
    height: auto;
    border: 1px solid white;
    cursor: pointer; }
    .face button img {
      width: 1em; }

#textarea {
  top: 3em;
  height: 7vh; }

.comments {
  height: 5vh;
  padding: 1em;
  border: solid 1px grey;
  border-radius: 30px;
  margin: 15%; }

header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header a {
    padding: 1em;
    text-decoration: none;
    color: white;
    font-size: 17px; }
  header .nav-container {
    display: flex;
    justify-content: flex-start; }

.firstpage-container {
  margin-bottom: 15%;
  display: grid;
  color: white;
  grid-template-columns: repeat(2, 1fr); }
  .firstpage-container .firstpart {
    grid-column: 1/2; }
    .firstpage-container .firstpart #note {
      width: 3em; }
    .firstpage-container .firstpart #title {
      width: 9em;
      padding-left: 1em; }
    .firstpage-container .firstpart p {
      font-size: 10px; }
    .firstpage-container .firstpart .p-wrapper {
      padding: 1em; }
    .firstpage-container .firstpart .btn-wrapper {
      padding-left: 1em; }
    .firstpage-container .firstpart a {
      background-color: transparent;
      border: solid 2px #fcc60e;
      border-radius: 30px;
      color: white;
      padding: 1em;
      font-family: "Poppins", sans-serif;
      font-size: 0.8em;
      position: absolute;
      top: 25em;
      text-decoration: none; }
      .firstpage-container .firstpart a:hover {
        color: #1b2440;
        background-color: #fcc60e;
        cursor: pointer; }
  .firstpage-container .secondpart {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3; }
    .firstpage-container .secondpart img {
      width: 10em; }
  .firstpage-container .thirdpart {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
    text-align: center; }
    .firstpage-container .thirdpart h2 {
      margin-top: 3em;
      font-size: 1em; }
    .firstpage-container .thirdpart img {
      display: none; }
  @media only screen and (min-width: 600px) {
    .firstpage-container {
      padding: 2em; }
      .firstpage-container .firstpart {
        padding-left: 3em;
        grid-column: 1/2; }
        .firstpage-container .firstpart #title {
          width: 15em; }
        .firstpage-container .firstpart #note {
          width: 3em;
          padding-left: 22em; }
        .firstpage-container .firstpart a {
          top: 38em; }
        .firstpage-container .firstpart p {
          font-size: 16px; }
        .firstpage-container .firstpart .p-wrapper {
          padding-right: 9em; }
      .firstpage-container .secondpart {
        grid-column: 2/3; }
        .firstpage-container .secondpart img {
          width: 20em;
          margin-left: -36%; }
      .firstpage-container .thirdpart {
        grid-column: 1/3; }
        .firstpage-container .thirdpart img {
          display: block;
          width: 4em; }
        .firstpage-container .thirdpart h2 {
          margin-top: 3em;
          font-size: 2em; } }
  @media only screen and (min-width: 1200px) {
    .firstpage-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
      .firstpage-container .firstpart {
        padding-left: 7em;
        grid-column: 1/2; }
        .firstpage-container .firstpart #title {
          width: 15em;
          height: auto; }
        .firstpage-container .firstpart #note {
          width: 3em;
          padding-left: 22em; }
      .firstpage-container .secondpart {
        grid-column: 2/3;
        padding-left: 4em; }
        .firstpage-container .secondpart img {
          width: 30em; }
      .firstpage-container .thirdpart {
        grid-column: 3/4; }
        .firstpage-container .thirdpart img {
          width: 4em; }
        .firstpage-container .thirdpart h2 {
          text-align: start; } }

#about-us {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #about-us img {
    width: 40%;
    background-color: transparent;
    z-index: 100; }

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 10%; }
  footer h2 {
    color: white; }
  footer #footer {
    margin: 2em 2em 5em 2em;
    background-color: #2a3055;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    height: 7em; }
    footer #footer .img-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3em;
      height: 3em;
      border-radius: 50%;
      background-color: #1b2440; }
      footer #footer .img-wrapper:hover {
        background-color: #fcc60e; }
      footer #footer .img-wrapper img {
        width: 1em; }

.body-img {
  left: 2em;
  top: 150em;
  width: 33%; }

.body-img,
.body-img2 {
  position: absolute;
  z-index: 0; }

.body-img2 {
  top: 155em;
  right: 0em;
  width: 38%; }

.the-impact {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 1fr);
  padding: 11em;
  margin-top: 5%; }
  .the-impact #student1 {
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 100; }
  .the-impact #student2 {
    grid-column: 3/5;
    grid-row: 3/5;
    z-index: 100; }
  .the-impact .container1 {
    grid-column: 3/5;
    grid-row: 1/3; }
  .the-impact .container2 {
    grid-column: 1/3;
    grid-row: 3/5; }
  .the-impact .container1,
  .the-impact .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #94d3f2; }
  .the-impact img {
    width: 100%;
    border-radius: 30px; }

a:hover {
  color: #de2235; }

#emptyBar {
  position: relative;
  height: 33px;
  width: 300px;
  border-radius: 30px;
  border: 2px white solid;
  background: -webkit-linear-gradient(left, white, white 1%, transparent 1%, transparent);
  background-size: 100%;
  transition: background-size 2s;
  margin-top: 13%; }
  #emptyBar #currentSum {
    line-height: 50px;
    position: absolute;
    margin: 0;
    right: 100%;
    opacity: 0;
    font-size: 11pt;
    color: #1b2440;
    transition: all 2s; }
  #emptyBar #goal {
    position: absolute;
    color: white;
    font-size: 11pt;
    width: 50%;
    text-align: center;
    right: -10px;
    font-weight: 100; }
